section {
    height: calc(100% - 3.75rem);
    padding-bottom: 0.75rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
