.listing {
    text-align: center;
    width: 100%;
    overflow: auto;
}

.listing__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.listing__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listing__items li {
    margin: 0.75rem 0;
}
